/* <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'> */

.form-style-8{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
    margin: 50px auto;
    /* position: fixed;
    top: 100px;
    left: 400px; */
    z-index: 10;
    opacity: 1;
    transition: all 500ms ease-in-out;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
    /* display: none; */
}
.form-style-8 h2{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.form-style-8 textarea{
	resize:none;
	overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #4cd137;
	-webkit-box-shadow: inset 0px 1px 0px 0px #4cd137;
	box-shadow: inset 0px 1px 0px 0px #4cd137;
	background-color: #4cd137;
	border: 1px solid #4cd137;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
	background:linear-gradient(to bottom, #4cd137 5%, #4cd137 100%);
	background-color:#4cd137;
}



.close {
    text-align: center;
    
    /* height: 10vh; */
    background-color: #4D4D4D;
    width: 8vw;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    padding: 10px;
    border-radius: 4px;
}

.close a:visited {
    text-decoration: none;
    color: white;
}

.close a:link {
    text-decoration: none;
    color: white;
}

.close a:hover {
    text-decoration: none;
    color: white;
}
.send {
    text-align: center;
    
    /* height: 10vh; */
    background-color: #4D4D4D;
    width: 12vw;
    font-size: 20px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    border-radius: 4px;
}

.send a:visited {
    text-decoration: none;
    color: white;
}

.send a:link {
    text-decoration: none;
    color: white;
}

.send a:hover {
    text-decoration: none;
    color: white;
}